*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
header{
    min-height: 100px;
    background-color: rgb(196, 174, 140);
}
.logo {
   
    float:left;
    padding: 0 200px 0 215px;

}
nav{
    
}

nav ul{

}

nav ul li{
    float: left;
    line-height: 100px; /*text in the center*/
    padding-right: 15px;
}

nav ul li a{
    display: block;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(44, 37, 37, 0.582);
    padding: 0px 20px 1px 0px;

}

nav ul li a:hover{
    color:rgb(0, 0, 0);
}

.underline {
    display: inline;
    position: relative;
    user-select: none;
}


  
.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #000000c4;
    transform-origin: center;
    transition: transform 0.30s ease-out;
}
.underline:hover::before {
    transform: scaleX(1);
    transform-origin: center;
}

.active {
    color: black;
}
footer{
    position: relative;;    /*rreshti 47 dhe 48 e definojne poziten e footerit*/
    bottom: 0;
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: rgb(196, 174, 140);
}
.inner_footer{/*kontrolloje edhe nje here qita a eshte funksionale*/
    display: block;
    margin: 0 auto;
    width: 1100px;
}
.inner_footer .logo{
   padding-left: 5%;

}
.inner_footer .footer_third{
   
  width: calc(21.666666667% - 20px);
  display: inline;
    float:left;
    height:100%
}
.inner_footer .footer_third:last-child{
    margin-right:0;
}
.inner_footer .footer_third h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    color: brown;
    display:block;
    width: 100%;
    margin-bottom:20px;
}
.inner_footer .footer_third .socials a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    display:block;
    color: black;
    font-weight:200;
    width: 100%;
    padding-bottom:20px;
}
.inner_footer .footer_third .socials li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}
.inner_footer .footer_third .menu a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:block;
    color: black;
    padding-bottom:10px;
}

.rightlog {
    float: right;
    display: block;
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgba(44, 37, 37, 0.582);
    padding: 35px 40px 35px 35px;   
}

.rightlog:hover {
    color: black;
}
/* Rreth nesh */
.body02 {
    background-image:url(images/rrethdesc.png);
    height: 600px;
    width: 1536px;
}
.about-section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inner-container{
    height: 400px;
    font-family: 'Poppins', sans-serif;
}

.inner-container h1{
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 20px;
    color: #545454;
    line-height: px;
    text-align: justify;

}

h1 {
    margin-left: 41%;
    padding-top: 5px;
}

h2 {
    padding-top: 50px;
    padding-left: 30px;
}

p {
    line-height: 24px;
}

/*Menu fillon ketu*/


/*Contact Form fillon ketu*/

.containerc {
    max-width: 700px;
    width: 100%;
    margin: 0% 30% 30% 28% ;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }
  
  #contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
  #contact h3 {
    display: block;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
    text-align:center;
    font-family: Fjalla One, sans-serif;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    font-family: Fjalla One, sans-serif;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact input[type="tel"]:hover,
  #contact input[type="url"]:hover,
  #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #000000e1;
    color: rgb(255, 255, 255);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 10px;
  }
  
  #contact button[type="submit"]:hover {
    background: rgba(255, 255, 255, 0);
    color: rgb(11, 59, 11);
    border: 3px solid black;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    transition: background-color 1s ease-in-out;
  }
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgb(126, 0, 0);
  }
  
  .copyright {
    text-align: center;
  }
  
  .aboutlink {
    font-size: 18px;
    color: #000000;
  }
  
  .aboutlink:hover {
    font-size: 18.9px;
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }
  /*
  .carousel-container{
      width: 60%;
      margin: auto;
      overflow: hidden;
      border: 5px solid black;
      position:relative;
  }
  .carousel-slide{
      display: flex;
      width: 100%;
      height:500px;

  }
  #prevBtn{
      position: absolute;
      top: 50%;
      z-index:10;
      left:5%;
      font-size: 30px;
      cursor: pointer;

  }
  #nextBtn{
    position: absolute;
    top: 50%;
    z-index:10;
    right:5%;
    font-size: 30px;
    cursor: pointer;

}
*/
